<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>craft_boom_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{25,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{25,24}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>craft_boom_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{64,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>craft_boom_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,136},{62,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{62,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,132},{58,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,196},{56,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{56,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,212},{18,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{18,18}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{52,46}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{52,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,68},{56,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{56,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,68},{62,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,136},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{64,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>craft_boom_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>craft_boom_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b92c00233cf43c5a718ec362b454ed10$</string>
            <key>textureFileName</key>
            <string>craft_boom_2.png</string>
        </dict>
    </dict>
</plist>
