<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,398},{88,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,567},{76,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{76,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,91},{62,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{62,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,180},{12,87}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{12,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{66,87}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,487},{78,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{78,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{237,236}}</string>
                <key>sourceSize</key>
                <string>{239,240}</string>
            </dict>
            <key>prop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{173,173}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>prop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{199,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{199,201}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>prop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,203},{193,193}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{193,193}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>prop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{173,173}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{173,173}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>prop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{175,175}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{175,175}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>prop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,398},{175,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{175,175}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>prop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{175,177}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{175,177}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>prop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,575},{173,175}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{173,175}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>prop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,750},{171,171}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{171,171}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drops.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b620b88f14f73f493d577fd347b9eae:1/1$</string>
            <key>textureFileName</key>
            <string>drops.png</string>
        </dict>
    </dict>
</plist>
