<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,282},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,242},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,37}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,179},{61,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,40}}</string>
                <key>sourceSize</key>
                <string>{61,40}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{115,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{115,137}}</string>
                <key>sourceSize</key>
                <string>{117,141}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{115,137}}</string>
                <key>sourceSize</key>
                <string>{117,141}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,125},{72,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,284},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,332},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{45,44}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,321},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{45,44}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>21_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,322},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{45,44}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{128,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,22}}</string>
                <key>sourceSize</key>
                <string>{128,24}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{135,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,28}}</string>
                <key>sourceSize</key>
                <string>{135,28}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,40},{90,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{90,25}}</string>
                <key>sourceSize</key>
                <string>{90,49}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,67},{67,8}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,8}}</string>
                <key>sourceSize</key>
                <string>{67,10}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,40},{137,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{137,12}}</string>
                <key>sourceSize</key>
                <string>{143,18}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,67},{75,28}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{81,28}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,97},{73,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,213},{70,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{70,69}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{106,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{106,36}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,290},{57,29}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{57,29}}</string>
                <key>sourceSize</key>
                <string>{73,51}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,175},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87455d0e949327988d610033cd53e469$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
