<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1274},{90,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,103}}</string>
                <key>sourceSize</key>
                <string>{90,103}</string>
            </dict>
            <key>cannon_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1201},{79,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,92}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>cannon_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1287},{76,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,101}}</string>
                <key>sourceSize</key>
                <string>{76,101}</string>
            </dict>
            <key>cannon_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1108},{65,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,115}}</string>
                <key>sourceSize</key>
                <string>{65,115}</string>
            </dict>
            <key>cannon_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1109},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>cannon_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,961},{125,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,110}}</string>
                <key>sourceSize</key>
                <string>{125,110}</string>
            </dict>
            <key>cannon_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1108},{113,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,101}}</string>
                <key>sourceSize</key>
                <string>{113,101}</string>
            </dict>
            <key>cannon_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1281},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>cannon_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,782},{71,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,129}}</string>
                <key>sourceSize</key>
                <string>{71,129}</string>
            </dict>
            <key>cannon_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1073},{121,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,112}}</string>
                <key>sourceSize</key>
                <string>{121,112}</string>
            </dict>
            <key>cannon_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1211},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>cannon_306.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,855},{104,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,126}}</string>
                <key>sourceSize</key>
                <string>{104,128}</string>
            </dict>
            <key>cannon_401.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1108},{96,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,109}}</string>
                <key>sourceSize</key>
                <string>{96,109}</string>
            </dict>
            <key>cannon_402.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1175},{111,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{111,97}</string>
            </dict>
            <key>cannon_403.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1187},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>cannon_501.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1260},{73,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,101}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>cannon_502.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1206},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
            <key>cannon_503.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1009},{87,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,98}}</string>
                <key>sourceSize</key>
                <string>{87,98}</string>
            </dict>
            <key>enemy_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,886},{143,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,163}}</string>
                <key>sourceSize</key>
                <string>{143,163}</string>
            </dict>
            <key>enemy_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{287,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,191}}</string>
                <key>sourceSize</key>
                <string>{287,191}</string>
            </dict>
            <key>enemy_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,886},{220,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,341}}</string>
                <key>sourceSize</key>
                <string>{220,341}</string>
            </dict>
            <key>enemy_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1031},{160,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,227}}</string>
                <key>sourceSize</key>
                <string>{160,227}</string>
            </dict>
            <key>enemy_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{220,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,439}}</string>
                <key>sourceSize</key>
                <string>{220,439}</string>
            </dict>
            <key>enemy_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{225,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,377}}</string>
                <key>sourceSize</key>
                <string>{225,377}</string>
            </dict>
            <key>enemy_401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{339,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,509}}</string>
                <key>sourceSize</key>
                <string>{339,509}</string>
            </dict>
            <key>enemy_402.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,622},{262,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,477}}</string>
                <key>sourceSize</key>
                <string>{262,477}</string>
            </dict>
            <key>enemy_403.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,224},{396,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,438}}</string>
                <key>sourceSize</key>
                <string>{396,438}</string>
            </dict>
            <key>enemy_501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{200,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,556}}</string>
                <key>sourceSize</key>
                <string>{200,556}</string>
            </dict>
            <key>enemy_502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,558}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,558}}</string>
                <key>sourceSize</key>
                <string>{235,558}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab0fb27bfd4b85c13a8902b559fe26f3$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
