<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3796},{540,954}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,954}}</string>
                <key>sourceSize</key>
                <string>{540,954}</string>
            </dict>
            <key>map_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3254},{540,954}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,954}}</string>
                <key>sourceSize</key>
                <string>{540,954}</string>
            </dict>
            <key>map_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2712},{540,954}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,954}}</string>
                <key>sourceSize</key>
                <string>{540,954}</string>
            </dict>
            <key>map_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2170},{540,954}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,954}}</string>
                <key>sourceSize</key>
                <string>{540,954}</string>
            </dict>
            <key>map_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,955}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,955}}</string>
                <key>sourceSize</key>
                <string>{540,955}</string>
            </dict>
            <key>map_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{540,954}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,954}}</string>
                <key>sourceSize</key>
                <string>{540,954}</string>
            </dict>
            <key>map_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{540,954}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,954}}</string>
                <key>sourceSize</key>
                <string>{540,954}</string>
            </dict>
            <key>map_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{540,954}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,954}}</string>
                <key>sourceSize</key>
                <string>{540,954}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1024,8192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fd1dc90694a60c3eff2f412d4d5fabe:1/1$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
