<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>change_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{218,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>change_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,131}}</string>
                <key>sourceSize</key>
                <string>{218,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>change_effect.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c4d4edf5769c035a654fa35f349354:1/1$</string>
            <key>textureFileName</key>
            <string>change_effect.png</string>
        </dict>
    </dict>
</plist>
